<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_Db_CommercialAutomation_Connection" connectionString="XpoProvider=MSSqlServer;data source=PREDATOR;integrated security=SSPI;initial catalog=Db_CommercialAutomation" />
        <add name="predator.Db_CommercialAutomation.dbo" connectionString="XpoProvider=MSSqlServer;data source=PREDATOR;integrated security=SSPI;initial catalog=Db_CommercialAutomation;TrustServerCertificate=true" />
        <add name="localhost_Db_CommercialAutomation_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=PREDATOR;integrated security=SSPI;initial catalog=Db_CommercialAutomation" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>